<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectToDataBase" providerName="System.Data.SqlClient" connectionString="Server=(localdb)\mssqllocaldb;Database=employeedb1;Trusted_Connection=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="NumberRows" value="8"/>
  </appSettings>
</configuration>